img {
    width: 60%;
}

.game {
    background-color: ghostwhite;
}

.screens {
    display: flex;
    flex-direction: column;
}

.screenshots{
    display: flex;
    width: 20%;
}

.end{
    display: flex;
    flex-direction: column;
}

button {
    width: 10%;
    height: 30px;
    margin-left : 45%;
    margin-top : 5%;
}